body {
    font-family: Arial, sans-serif;
    background: #54595f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: rgba(18, 32, 32, 0.171);
    height: 60px;
    width: auto;
    border-radius: 20px;
}

.card {
    background: #b1cadf;
    width: 320px;
    padding: 20px;
    border-radius: 5px 30px;
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.336);
    text-align: center;
    border: 3px solid rgb(47, 54, 42);

}

.profile_img {
    width: 120px;
    height: 120px;
    border: 6px solid rgb(163, 143, 182);
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0px 1px 16px rgb(17, 7, 20);
}

.status {
    color: #000000;
    font-style: italic;
    margin-bottom: 15px;
}

.skills {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #678388;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 6px;
    font-size: 14px;
}


.Socmed img {
    height: 40px;
    width: 40px;
}

.Socmed label {
    font-weight: bold;
}
